@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
    background-color: #201600;
    color: #e3d0b0;
    font-family: 'Lato', sans-serif;
}

hr {
    border-top: 2px dashed rgb(50, 44, 31) !important;
}

.jumbotron {
    background-color: #1d0401;
    background-image: url('../img/wood.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    border-bottom: #322c1f !important;
    border-bottom-width: 2px !important;
    border-bottom-style: dashed !important;
    border-top: #322c1f !important;
    border-top-width: 2px !important;
    border-top-style: dashed !important;
}

.jumbotron > .container {
    background: #0000006b;
    padding: 20px;
}

.jumbotron p, .jumbotron .display-5 {
    text-shadow: 1px 1px #000;
}

.jumbotron p {
    font-size: 18px;
}

.modal-dialog {
    z-index: 1100;
}

/* Navigation */

.bg-dark {
    background-color: #201600 !important;
}

.nav-right span {
    color: #fff;
    margin-left: 10px;
}

.nav-right span .fa {
    margin-right: 5px;
}

.nav-right a {
    font-weight: bold;
}

.nav-right a:link, a:visited {
    color: #ccc;
}

.nav-right a:hover {
    color: #fff;
    text-decoration: none;
}

/* Buttons */

.btn-primary, .btn-primary:active {
    background-color: rgb(50, 44, 33);
    border-color: rgb(53, 45, 30);
}

.btn-primary:hover {
    background-color: rgb(105, 72, 10);
    border-color: rgb(68, 46, 6);
}

.btn-link, .btn-link:active {
    color: #e3d0b0;
}

.btn-link:hover {
    color: #e3d0b0;
}

.btn-outline-secondary {
    color: #5f4d24;
    background: #201600;
    border-color: #5f4d24;
}

/* Gallery Cards */

.card {
    border-color: #3c2a00;
}

.card-header {
    background: rgb(46, 32, 1);
}

.card-body {
    background: #3c2a00;
}

.card-no-border {
    border: none;
}

/* Footer */

footer {
    padding-top: 20px;
    border-top: #322c1f !important;
    border-top-width: 2px !important;
    border-top-style: dashed !important;
}