{{define "content"}}
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Services Offered</h1>
      <p class="">Something short and leading about the collection below-its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    </div>
  </section>

  <div class="container">

    <div class="row">

      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top" src="/project/img/gallery/2-after.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Tree removal</h5>
            <p class="card-text">The removal of trees to ground level.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <!-- <img class="card-img-top" src="https://via.placeholder.com/348x348/5f4507/1c1403?Text=Digital.com" alt="Card image cap"> -->
          <img class="card-img-top" src="/project/img/gallery/2-after.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Stump grinding</h5>
            <p class="card-text">The removal of tree stumps to below ground level.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>

    </div>

    <hr>

    <div class="row">

      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/348x348/5f4507/1c1403?Text=Digital.com" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Crown thinning</h5>
            <p class="card-text">The removal of smaller branches within the crown of the tree. This can help to reduce the wind
              resistance of trees and make them less susceptible to wind damage.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top" src="https://via.placeholder.com/348x348/5f4507/1c1403?Text=Digital.com" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Crown lifting</h5>
            <p class="card-text">The removal of the lower level branches, this may be used to grant access under the tree, improve
              views and ground level light.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>

    </div>

    <hr>

    <div class="row">

      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top" src="/project/img/gallery/1-after.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Crown reductions</h5>
            <p class="card-text">An overall reduction in size of the tree, it may be used to remove dead, damaged or diseased
              branches.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <img class="card-img-top" src="/project/img/gallery/5-after.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Hedge trimming</h5>
            <p class="card-text">Trimming and maintenance of hedges to prevent overgrowth.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>

    </div>

  </div> <!-- /container -->

  <br />

</main>
{{end}}
